.App {
  background-color: black;
  color: white;
}
#header {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header img {
  width: 150px;
  height: 60px;
  margin: 0 30px;
}
.carroussel-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 300px;
}
.carroussel-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
}
.carroussel div {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-x: scroll;
  margin-left: 30px;
  height: 100px;
}

.carroussel div::-webkit-scrollbar {
  display: none;
}
footer {
  height: 60px;
}
